<!doctype HTML>

<html>

<head>


    <title>Precious</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/allergies.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="head">

        <div id="titletext">
            <h1>Greetings, Rosie</h1>
            <p>Select your allergies. <br><br>We'll help you find the foods you can eat.</p>
        </div>



    </div>
    <div class="allergies">
        <div class="search-box">
            <div class="active-cyan-3 active-cyan-4 mb-4 search">
                <input class="form-control" type="text" placeholder="Search for allergies" aria-label="Search">
            </div>
        </div>

        <div class="allergy-list">
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Cow's Milk</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Eggs</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Tree Nuts</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Peanuts</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Shellfish</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Wheat</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Soy</label></div>
            </div>
            <div class="allergy-list-item">
                <div class="radio"><label><input type="radio" name="optradio">Fish</label></div>
            </div>
        </div>
    </div>


</body>
    <button type="button" class="confirm btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>

</html>