<!doctype HTML>

<html>

<head>


    <title>Precious</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/allergies.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="head">

        <div id="titletext">
            <h1>Greetings, Rosie</h1>
            <p>Select your allergies. <br><br>We'll help you find the foods you can eat.</p>
        </div>



    </div>
    <div class="allergies">
        <div class="search-box">
            <div class="active-cyan-3 active-cyan-4 mb-4 search">
                <input class="form-control" type="text" placeholder="Search for allergies" aria-label="Search">
            </div>
        </div>

        <div class="allergy-list">

            {{#each allergies}}
                <div class="allergy-list-item">
                   <p>{{this}}</p>
                </div>
            {{/each}}

            <!--<div class="allergy-list-item">
                <input class="form-check-input" type="checkbox" value="">
                Cow's Milk
            </div>-->

        </div>
    </div>

    <a class="confirm btn btn-default btn-circle btn-lg" href="/"><i class="glyphicon glyphicon-ok"></i></a>

</body>

</html>