<!DOCTYPE html>

<html>

<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">

    <link href="/css/entree.css" rel="stylesheet">
    <!-- Finally, load our JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/entree.js"></script>

</head>

<body>
    <div id="main">

        <div class="header">
            <div class="back-arrow">
                <a href="/menu?restaurant={{name}}">
                    <p>тна</p>
                </a>
            </div>
            <div class="header-title">
                <p>{{name}}</p>
            </div>
            <div class="profile-icon">
                <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png">
            </div>
        </div>

        <div id="jumbo">
            <img src="https://images-gmi-pmc.edge-generalmills.com/bc0f82fd-7e02-44dd-845b-0e7dbd6533fb.jpg">
        </div>

        <div id="content" class="green-title">
            <div id="title">
                <h3>Grilled Cheese Sandwich</h3>
                <p>$2.95</p>
            </div>

            <div id="allergens">
                <div id="allergen-title">
                    <h4 class="green-title">Allergens</h4>
                </div>
                <div id="allergen-list" class="list-items">
                    <p>Eggs</p>
                    <p>Eggs</p>
                    <p>Eggs</p>
                </div>
            </div>

            <div id="ingredients">
                <div id="ingredients-title">
                    <h4 class="green-title">Ingredients</h4>
                </div>
                <div id="ingredients-list" class="list-items">
                    <p>Cheese</p>
                    <p>Bread</p>
                    <p>Bread</p>
                    <p>Bread</p>
                </div>
            </div>

        </div>

    </div>
</body>

</html>