<!doctype HTML>

<html>

<head>
    <title>Precious</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="head">

        <div id="profile-icon">
            <img src="https://en.facebookbrand.com/wp-content/uploads/2019/04/f_logo_RGB-Hex-Blue_512.png"
                class="img-circle">
        </div>

        <div id="titletext">
            <h1>Eateries Nearby</h1>
        </div>
    </div>


    <div class="filter-bar">
        <a href="#"><img src="images/xbox.png"><br>All</a>
        <a href="#"><img src="images/xbox.png"><br>Dining Halls</a>
        <a href="#"><img src="images/xbox.png"><br>Cafes</a>
        <a href="#"><img src="images/xbox.png"><br>Markets</a>
    </div>

    <div class="restaurant-list">
        <div class="restaurant-item">
            <div class="restaurant-title">Foodworx</div>
            <div class="restaurant-directions"></div>
            <div class="restaurant-menu"></div>
        </div>
            <div class="restaurant-item">
            <div class="restaurant-title">Canyon Vista</div>
            <div class="restaurant-directions"></div>
            <div class="restaurant-menu"></div>
        </div>
    </div>

        </div>
    </div>

