<!DOCTYPE html>

<html>

<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--<link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="/css/menu.css" rel="stylesheet">
</head>

<body>

    <div class="main">

        <div class="header">
            <div class="back-arrow">
                <p>тна</p>
            </div>
            <div class="header-title">
                <p>Foodworx</p>
            </div>
            <div class="profile-icon">
                <img src="https://www.searchpng.com/wp-content/uploads/2019/02/Deafult-Profile-Pitcher.png">
            </div>
        </div>
        <hr>

        <div class="actual">
            <div class="rosie">
                <h3>Rosie's Menu</h3>
            </div>

            <div class="hscroll">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#"><u><b>Breakfast</b></u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Lunch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dinner</a>
                    </li>
                </ul>
            </div>

            <div id="menu-items">
                <div class="menu-item">
                    <div class="menu-item-left">
                        <h6>Grilled Cheese</h6>
                        <p class="menu-item-left-price">$2.95</p>
                    </div>
                    <div class="menu-item-right">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Screw_Head_-_Square_External.svg/480px-Screw_Head_-_Square_External.svg.png">
                    </div>
                </div>

                <div class="menu-item">
                    <div class="menu-item-left">
                        <h6>Grilled Cheese</h6>
                        <p class="menu-item-left-price">$2.95</p>
                    </div>
                    <div class="menu-item-right">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Screw_Head_-_Square_External.svg/480px-Screw_Head_-_Square_External.svg.png">
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

</html>